<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  
  <h1 *ngIf="poke">{{poke.name}}</h1>
  <img *ngIf="poke" width = "300" src={{poke.sprites.front_default}} 
alt="gr... where my poke at?" />
  <img *ngIf="poke" width = "300" src={{poke.sprites.back_default}} 
alt="gr... where my poke at?" />
<br>
<p *ngIf="poke">Height: {{poke.height}}</p> 
<br>
<p *ngIf="poke">Weight: {{poke.weight}}</p> 
<br>
<p *ngIf="poke">Base Experience: {{poke.base_experience}}</p> 
</div>


